*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
    
}
.container{
    background:white;
    display:flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    
}
h1{
    color:black;
    text-align: center;

}
.login-form{
    padding:1em;
    background-color: white;
    color:white;
    width:400px;
    margin:15px;
    border:none;
    border-radius:15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
input[type="text"],[type="password"],[type="email"]{
    padding:10px;
    font-size:15px;
    border:none;
    border-bottom:2px solid black;
    font-weight: bold;
    caret-color:blue;
  
}
.flex-button{
    display:flex;
    justify-content:center;
}
input[type="button"]{
    width:50%;
    margin:20px 0;
    padding: 15px 20px;
    font-size:1em;
    font-weight: bold;
    border-radius:50px;
    background-color: transparent;

}
.flex-input{
    display:flex;
    margin:20px;

}
label{
    flex-basis:150px;
    margin-top:20px;
    color:blue;
    font-size: 1em;
    text-transform: capitalize;
    font-weight: bold;
}
.flex-bottom {
    margin-top:15px;
    display:flex;
    
}
.flex-bottom div{
    flex:1;
    color:black;
    font-weight: bold;
}
.flex-bottom div a {
    text-decoration:none;
    color:blue !important;
   
}
input[type="button"]:hover{

    background-color: rgba(6, 6, 255, 0.855);
    color:white;
    cursor: pointer;

}


@media all and (width < 480px) {


    .flex-input{
        flex-direction:column;
    }
    label{
        flex-basis:0px;
    }

}
    
    
